@import './reset.scss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: mintcream;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 500;
}

.container {
  width: 80%;
  margin: 0 auto;
}
